// # Contains all colors as color palette.

$g-color-white: #fff;
$g-color-black: #262626;
$g-color-blue: #2D91A7;
$g-color-text: #7a7a7a;

$g-color-warning: #dd3427;
$g-color-info: #79CB83;

// Primary
$g-color-primary: #50aaf8;