// # Contains all general variables.

// Used fonts.
$g-font: 'Open Sans';

// Font weights.
$g-weight-light: 300;
$g-weight-regular: 400;
$g-weight-semi-bold: 600;
$g-weight-bold: 700;
$g-weight-extra-bold: 800;

// Speed of CSS animations.
$g-animation-speed: 0.5s;