// # Main webpage content.
.main {
  @import '../base/global';

  //
  // Main Variables
  //

  //
  // Main Styles
  //

  max-width: 960px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}
