// # Quick notice about web progress.
.notice {
  @import '../base/global';

  //
  // Notice Variables
  //

  $color: $g-color-white;
  $bg: $g-color-info;

  //
  // Notice Styles
  //

  width: 80%;
  background: $bg;
  border: 2px solid darken($bg, 10%);
  text-align: center;
  margin: 5px auto;
  padding: 5px 0;
  color: $color;
}
